<div class="background" (click)="continue()" [ngStyle]="{ 'background-color': 'rgb(' + r + ', ' + g + ', ' + b + ')' }">
    <div class="qOrA" [ngStyle]="{ 'color': 'rgb(' + (r - 20) + ', ' + (g - 20) + ', ' + (b - 20) + ')' }">
        {{ qOrA }}.
    </div>

    <div *ngFor="let question of questions">
        <div *ngIf="qOrA == 'Q'">
            <div class="question-text">{{ question.question }}</div>
        </div>
        <div *ngIf="qOrA == 'A'">
            <div class="question-text">{{ question.answer }}</div>
        </div>
        <div *ngIf="question.pictureUrl">
            <img src="{{ getPictureUrl(question.pictureUrl) }}">
            <br>
        </div>
    </div>
</div>

